body {
  background-color: #1F2937;
  font-family: Roboto;
}
/*containers flex*/
.hero-container {
  display: flex;
  flex-direction: column;
}
.info-container {
  background-color: white;
}
.quote-container {
  background-color: #E5E7EB;
}
.signup-container {
  background-color: white;
}

/*hero section*/
.hero-logo {
  color: #F9FAF8;
  font-size: 24px;
  flex-grow: 1;
}

.hero-main {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 400px;
}

.hero-nav {
  color: #E5E7EB;
  text-decoration: none;
  flex-direction: row;
  margin-right: 20px;
}
.link {
  text-decoration: none;
  color: #E5E7EB;
  margin: 2px;
}

.welcome-div {
  flex-direction: column;
  width: 500px;
}
.placeholder-div {
  align-self: center;
}


/*information section*/


/*quote section*/
/*signup section*/
