body {
  background-color: #1F2937;
  font-family: Roboto;
}
/*containers flex*/
.hero-container {
  display: flex;
  flex-direction: column;
}
.info-container {
  background-color: white;
}
.quote-container {
  background-color: #E5E7EB;
}
.signup-container {
  background-color: white;
}

/*hero section*/
.hero-logo {
  color: #F9FAF8;
  font-size: 24px;
}
.hero-second {
  color: #E5E7EB;
}
.hero-main {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.header-container {
  display: flex;
  flex-direction: row;
}

.nav {
  text-decoration: none;
  flex-direction: row;
}

/*information section*/


/*quote section*/
/*signup section*/
